{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
		<div class="span12">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="span5 offset1">
				<h4> Hours of Operation </h4>
				<br>
				<p> Monday - Thursday: &nbsp;&nbsp;&nbsp;10am - 10pm</p>
				<p> Friday - Sunday: &nbsp;&nbsp;&nbsp;10am - 11pm</p>
				<hr>
				<div class="alert alert-success" style="display: none;" id="alert_success">
				    <button type="button" class="close">×</button>
				    <strong> THANKS! </strong> Your message has been sent.
				</div>
				<div id="contactme">
					<h4> Contact Us </h4>
					<form class="form-horizontal" action="/contact/" method="post" >
					  	<div class="control-group">
					    	<label class="control-label" for="inputName" style="width: 0px">Name</label>
					    	<div class="controls" style="margin-left: 100px">
					      		<input type="text" name="inputName" placeholder="Name">
					    	</div>
					  	</div>
					  	<div class="control-group">
					    	<label class="control-label" for="inputEmail" style="width: 0px">Email</label>
					    	<div class="controls" style="margin-left: 100px">
					      		<input type="text" name="inputEmail" placeholder="Email">
					    	</div>
					  	</div>
					  	<div class="control-group">
					    	<label class="control-label" for="inputMessage" style="width: 0px">Message</label>
					    	<div class="controls" style="margin-left: 100px">
					      		<textarea rows="4" class="input-large" name="inputMessage"></textarea>
					    	</div>
					  	</div>
					  	<div class="control-group">
					    	<div class="controls">
					      		<button type="submit" class="btn" id="clickme" disabled="disabled">Submit</button>
					    	</div>
					  	</div>
					</form>
				</div>
			</div>
			<div class="span4 offset1">
				
			</div>
		</div>
	</div>
  	<script>
		
		$(':input').bind('keyup', function() {
		    if(allFilled()) $('#clickme').removeAttr('disabled');
		});

		function allFilled() {
		    var filled = true;
		    $('body input').each(function() {
		        if($(this).val() == '') filled = false;
		    });
		    return filled;
		}

  		$("#clickme").click(function()
  		{
  			$("#alert_success").css('display', 'block');

  		});
  	</script>
{% endblock %}