{% extends "base.html" %}
{% block content %}
	<div class="row-fluid" style="text-align: center;">
		<div class="span12">
			<div class="span6 offset3">
				<!-- Where the carousel goes -->
			</div>
		</div>
	</div>
	<div class="row-fluid" style="padding-top: 20px; padding-bottom: 20px;">
		<div class="span12">
			<div class="span10 offset1" style="background-color: #25383C; color: white; padding: 10px; border-radius: 10px; font-size: 13px">
				<p> 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac massa neque, sed fermentum ipsum. Suspendisse lorem nulla, placerat eu faucibus sit amet, adipiscing ut orci. Praesent sit amet leo at nisi dignissim mollis. Sed eu dolor non diam vestibulum accumsan. Nullam hendrerit semper scelerisque. Ut sit amet velit tortor, vitae cursus eros. Nam dui sem, ornare quis sagittis ac, aliquet eu ante. Curabitur erat massa, laoreet quis rutrum eget, pellentesque sit amet nisi. Phasellus a dolor non erat luctus hendrerit. Donec laoreet dui eget augue eleifend vestibulum. Donec rutrum, lorem ut euismod imperdiet, nisl lorem volutpat velit, in adipiscing leo augue vitae odio. Morbi purus metus, rhoncus blandit accumsan vel, fermentum eu lorem.
				</p>
			</div>
		</div>
	</div>
{% endblock %}